/* Body-Color
--------------------------------*/
.outerBody{width:100%;background-color:#202020}
/* Step wizard (using tabs)
--------------------------------*/
.wizard{padding:0 40px}
/* Step wizard (using tabs)
--------------------------------*/

/* Nav-Wizard Start
--------------------------------*/
ul.nav-wizard{background-color:#202020 !important;border:1px solid #363636;border-radius:0;position:relative;overflow:hidden}
ul.nav-wizard:before{position:absolute}
ul.nav-wizard:after{display:block;position:absolute;left:0px;right:0px;top:138px;height:47px;border-top:1px solid #d4d4d4;border-bottom:1px solid#d4d4d4;z-index:11;content:" "}
ul.nav-wizard li{position:relative;float:left;height:46px;display:inline-block;text-align:center;margin:0;font-size:16px;line-height:46px}
ul.nav-wizard li a{color:#fff;padding:0 50px !important;text-transform:uppercase;font-size:13pt}
ul.nav-wizard li a:hover{background-color:transparent}
ul.nav-wizard li:before{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #202020;border-right:0;top:-1px;z-index:10;content:'';right:-16px}
ul.nav-wizard li:after{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #202020;border-right:0;top:-1px;z-index:10;content:'';right:-15px}
ul.nav-wizard li.active{color:#fff;background:#202020}
ul.nav-wizard li.complete a{color:#fff}
ul.nav-wizard li.complete{color:#fff;background:#d8c084}
ul.nav-wizard li.complete:after{position:absolute;display:block;border:24px solid transparent;border-left:16px solid #202020;border-right:0;top:-1px;z-index:10;content:'';right:-16px}
ul.nav-wizard li.active:after{border-left:16px solid #fff}
ul.nav-wizard li.active a, ul.nav-wizard li.active a:active, ul.nav-wizard li.active a:visited, ul.nav-wizard li.active a:focus{color:#202020;background:#fff}
ul.nav-wizard .active~li{color:#999999;background:#f9f9f9}
ul.nav-wizard .active~li:after{border-left:16px solid #202020}
ul.nav-wizard .active~li a, ul.nav-wizard .active~li a:active, ul.nav-wizard .active~li a:visited, ul.nav-wizard .active~li a:focus{color:#fff;background:#202020}
ul.nav-wizard.nav-wizard-backnav li:hover{color:#468847;background:#f6fbfd}
ul.nav-wizard.nav-wizard-backnav li:hover:after{border-left:16px solid #f6fbfd}
ul.nav-wizard.nav-wizard-backnav li:hover a, ul.nav-wizard.nav-wizard-backnav li:hover a:active, ul.nav-wizard.nav-wizard-backnav li:hover a:visited, ul.nav-wizard.nav-wizard-backnav li:hover a:focus{color:#468847;background:#f6fbfd}
ul.nav-wizard.nav-wizard-backnav .active~li{color:#999999;background:#ededed}
ul.nav-wizard.nav-wizard-backnav .active~li:after{border-left:16px solid #ededed}
ul.nav-wizard.nav-wizard-backnav .active~li a, ul.nav-wizard.nav-wizard-backnav .active~li a:active, ul.nav-wizard.nav-wizard-backnav .active~li a:visited, ul.nav-wizard.nav-wizard-backnav .active~li a:focus{color:#999999;background:#ededed}
/* Nav-Wizard Ends
--------------------------------*/

/* Top-Heading Code Start
--------------------------------*/
.top-heading .price{display:none}
.top-heading .lecense{display:inline-block;color:#fff;background-color:#202020;border-color:#363636;border-radius:0;box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
#check{float:left}
.top-heading .lecense:hover{color:#202020;background-color:#fff;transition:0.3s all 0s ease-in-out;border-radius:0}
.lecense>label{margin:0;font-weight:normal}
.top-heading .call{display:inline-block}
.top-heading{display:block;overflow:hidden;padding-bottom:7px;padding-top:10px}
.top-heading h1{float:left;margin:20px 0;line-height:18px;font-size:18px;font-weight:700;color:#fff}
.top-heading span{margin:20px 0;line-height:18px;font-size:18px;font-weight:700}
.popContent span{margin:12px 0}
.top-heading .carPrice{font-size:16px !important;font-weight:normal}
.top-heading .btn-info.active:hover{color:#202020;background-color:#fff;transition:0.3s all 0s ease-in-out;border-radius:0}
.top-heading .btn-info.active{color:#fff;background-color:#202020;border-color:#363636;border-radius:0}
/* Top-Heading code Ends
--------------------------------*/

/* Customizer-Image Code Start
--------------------------------*/
.customizer-container{margin-bottom:30px;width:100%;position:relative;overflow:hidden}
.customizer-container img{margin:0 auto;text-align:center;display:block;width:100%}
.customizer-container img~img{position:absolute;left:0;top:0;right:0;bottom:0}
/* Customizer-Image Code Ends
--------------------------------*/

/* Tool-Box Code Start
--------------------------------*/
#toolbox{clear:both}
#toolbox .panel-heading, #toolbox .panel-group .panel{border-radius:0;border:1px solid #363636}
#toolbox .panel-default>.panel-heading{color:#fff;background-color:#202020;padding:0}
#toolbox .panel-default>.panel-heading .right-arrow{margin-top:9px;cursor:pointer}
#toolbox .panel-default>.panel-heading a{padding:10px 15px;display:block}
#toolbox .panel-default>.panel-heading.open{background:#202020}
.tool-bar{padding:0 20px !important;margin:10px 0 20px 0}
/* Tool-Box Code Ends
--------------------------------*/

/* Body-color Code Start
--------------------------------*/
#body-color .bodyColor, #body-color .bodyColor2, #body-color .bodyColor3, #body-color .bodyColor5, #body-color .bodyColor6, #body-color .bodyColor9, #body-color .bodyColor10{width:100%;display:inline-block;margin:0}

#body-color .bodyColor label, #body-color .bodyColor2 label, #body-color .bodyColor3 label, #body-color .bodyColor5 label, #body-color .bodyColor6 label, #body-color .bodyColor9 label, #body-color .bodyColor10 label{width:100%}

#body-color .bodyColor .colorBox, #body-color .bodyColor2 .colorBox, #body-color .bodyColor3 .colorBox, #body-color .bodyColor5 .colorBox, #body-color .bodyColor6 .colorBox, #body-color .bodyColor9 .colorBox, #body-color .bodyColor10 .colorBox{width:50px;height:50px;margin:0 10px 50px 0;float:left}

#body-color .bodyColor input[type="radio"], #body-color .bodyColor2 input[type="radio"], #body-color .bodyColor3 input[type="radio"], #body-color .bodyColor5 input[type="radio"], #body-color .bodyColor6 input[type="radio"], #body-color .bodyColor9 input[type="radio"], #body-color .bodyColor10 input[type="radio"]{display:none}
#body-color .bodyColor input[type="radio"]+label, #body-color .bodyColor2 input[type="radio"]+label, #body-color .bodyColor3 input[type="radio"]+label, #body-color .bodyColor5 input[type="radio"]+label, #body-color .bodyColor6 input[type="radio"]+label, #body-color .bodyColor9 input[type="radio"]+label, #body-color .bodyColor10 input[type="radio"]+label{
display:inline-block;margin:0;position:relative;overflow:hidden;cursor:pointer}

#body-color .bodyColor input[type="radio"]+label:before, #body-color .bodyColor2 input[type="radio"]+label:before, #body-color .bodyColor3 input[type="radio"]+label:before, #body-color .bodyColor5 input[type="radio"]+label:before, #body-color .bodyColor6 input[type="radio"]+label:before, #body-color .bodyColor9 input[type="radio"]+label:before, #body-color .bodyColor10 input[type="radio"]+label:before{content:'';position:absolute;left:-100%;top:0;right:0;bottom:0;background:url('../../images/checked.png') no-repeat}

#body-color .bodyColor input[type="radio"]:checked+label:before, #body-color .bodyColor2 input[type="radio"]:checked+label:before, #body-color .bodyColor3 input[type="radio"]:checked+label:before, #body-color .bodyColor5 input[type="radio"]:checked+label:before, #body-color .bodyColor6 input[type="radio"]:checked+label:before, #body-color .bodyColor9 input[type="radio"]:checked+label:before, #body-color .bodyColor10 input[type="radio"]:checked+label:before{left:0;background-position:center center}
#body-color .bodyColor i, #body-color .bodyColor2 i, #body-color .bodyColor3 i, #body-color .bodyColor5 i, #body-color .bodyColor6 i, #body-color .bodyColor9 i, #body-color .bodyColor10 i{width:50px;height:50px;float:left;border:1px solid rgba(0,0,0,.05);background:-moz-linear-gradient(-45deg, rgba(255,255,255,0.1) 19%, rgba(0,0,0,0.23) 100%);background:-o-linear-gradient(-45deg, rgba(255,255,255,0.1) 19%, rgba(0,0,0,0.23) 100%);background:-ms-linear-gradient(-45deg, rgba(255,255,255,0.1) 19%, rgba(0,0,0,0.23) 100%);background:linear-gradient(135deg, rgba(255,255,255,0.1) 19%, rgba(0,0,0,0.23) 100%)}

.b-black{background-color:#222123 !important}
.b-bright-Purple{background-color:#ac62b5 !important}
.b-brown{background-color:#5B3624 !important}
.b-cardinal{background-color:#6E1A2B !important}
.b-columbia{background-color:#5096C8 !important}
.b-cyan{background-color:#1373AF !important}
.b-darkCharcoal{background-color:#433C39 !important}
.b-darkFlesh{background-color:#C2987D !important}
.b-darkGreen{background-color:#154031 !important}
.b-flame{background-color:#F04923 !important}
.b-flesh{background-color:#ECD0AB !important}
.b-fluorescentOrange{background-color:#FF6700 !important}
.b-fluorescentYellow{background-color:#F0FF00 !important}
.b-fluorescentPink{background-color:#FF5BA4 !important}
.b-gold{background-color:#EEA32B !important}
.b-gray{background-color:#98A3AD !important}
.b-hotPink{background-color:#A5276C !important}
.b-kellyGreen{background-color:#007D4F !important}
.b-limeGreen{background-color:#88C657 !important}
.b-magenta{background-color:#D51067 !important}
.b-maroon{background-color:#4D2A2F !important}
.b-mint{background-color:#70C388 !important}
.b-navy{background-color:#031D40 !important}
.b-neonCoral{background-color:#FF5155 !important}
.b-opticYellow{background-color:#E1EE4E !important}
.b-orange{background-color:#D54B27 !important}
.b-pink{background-color:#DA6C94 !important}
.b-purple{background-color:#3E296A !important}
.b-red{background-color:#AA1E28 !important}
.b-royal{background-color:#1E3363 !important}
.b-softPink{background-color:#ECBDD5 !important}
.b-steel{background-color:#7C767A !important}
.b-teal{background-color:#15747E !important}
.b-texasOrange{background-color:#9E4A24 !important}
.b-twitch{background-color:#C0FF00 !important}
.b-vegasGold{background-color:#BFA67B !important}
.b-white{background-color:#fff !important}
.b-yellow{background-color:#fff200 !important}
.Shadow-Black{background-color:#000 !important}
.Shadow-green{background-color:#006400 !important}
.Shadow-white{background-color:#fff !important}
.Shadow-blue{background-color:#0d1e30 !important}
.Shadow-sky-blue{background-color:#86abbd !important}

.Shadow-grey{background-color:#5a5a59 !important}
.Shadow-red{background-color:#dc0000 !important}
.Shadow-silver{background-color:#bebfc1 !important}
.Light-silver{background-color:#ececee !important}
.Dark-silver{background-color:#b0b0b0 !important}
.Shadow-darkred{background-color:#ab0300 !important}
.Shadow-darkblue{background-color:#101867 !important}
.Shadow-orange{background-color:#ff7e00 !important}
.Shadow-yellow{background-color:#ff0 !important}
.Shadow-light-green{background-color:#32cd32 !important}
.Shadow-moroon{background-color:#800000 !important}
.Shadow-grey-blue{background-color:#252a2f !important}
.Shadow-cream{background-color:#fffdd0 !important}
.Shadow-brown{background-color:#713d31 !important}
.Shadow-tan{background-color:#d7a570 !important}
.Shadow-squash{background-color:#ffcb33 !important}
.Shadow-teal{background-color:#568b8f !important}
.Shadow-b     ronze{background-color:#cd7f32 !important} 

.Shadow-{background-color:#d7a570 !important}
#toolbox a:hover{color:#fff;text-decoration:none !important}
#toolbox a:hover{color:#fff}
.panel-default i{margin-right:10px}
.color-title{color:#102b4e !important;line-height:normal !important;padding:0 !important;font-size:12px !important;text-align:center}
/* Body-color Code Ends
--------------------------------*/

/* Category Container Code Start
--------------------------------*/
div.category-tab-container{z-index:10;-moz-border-radius:4px;border-radius:4px;margin-top:20px;background-clip:padding-box;/*filter:alpha(opacity=97);opacity:0.97;*/}
div.category-tab-menu{padding-right:0;padding-left:0;padding-bottom:0}
div.category-tab-menu div.list-group{margin-bottom:10px}
div.category-tab-menu div.list-group>a{padding:15px 15px;background-color:#202020;border-radius:0px;margin-bottom:10px;border:1px solid #fff;color:#999}
div.category-tab-menu div.list-group>a:hover, div.category-tab-menu div.list-group>a:focus{background:#000;transition:0.3s all 0s linear}
div.category-tab-menu div.list-group>a .glyphicon, div.category-tab-menu div.list-group>a .fa{color:#5A55A3}
div.category-tab-menu div.list-group>a:first-child{border-top-right-radius:0;-moz-border-top-right-radius:0}
a.list-group-item h4{margin:0;display:inline-block;font-weight:700;text-transform:uppercase}
a.list-group-item i{float:right;font-size:18px}
div.category-tab-menu div.list-group>a:last-child{border-bottom-right-radius:0;-moz-border-bottom-right-radius:0}
div.category-tab-menu div.list-group>a.active, div.category-tab-menu div.list-group>a.active .glyphicon, div.category-tab-menu div.list-group>a.active .fa{background-color:#fff;color:#202020;border:0;padding:15px 15px}
.list-group-item{padding:0}
h2.category-hadding{color:#fff;text-transform:uppercase;font-size:16pt;margin-bottom:0;margin-top:30px}
/* Category Container Code Ends
--------------------------------*/

/* Power-Train Code Start
--------------------------------*/
.panel-body .power-train-data img, .panel-body .option-view img{width:100%}
.panel-body .power-train-data, .panel-body .option-view{border:1px solid #d8c083}
.power-train-data p{padding:5px;font-size:14px;margin-bottom:0px}
.power-train-data span{padding:5px;font-size:14px}
h3.contant-hed{font-weight:800}
.power-train-data ul{margin-top:10px;padding:0 15px}
.power-train-data ul li{ list-style:none}
.power-train-data p{color:#000}
/* Power-Train Code Ends
--------------------------------*/

/* Description Section Code Start
--------------------------------*/
.tabbable{margin-top:30px}
.tabbable>ul{border-bottom:1px solid #363636 !important}
.tab-content p{color:#fff;line-height:1.8;padding:10px}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color:#202020;cursor:default;background-color:#fff;border:1px solid #363636;border-bottom-color:transparent}
.tabbable ul.nav.nav-tabs a:hover{color:#000}
/* Description Section Code Ends
--------------------------------*/

/* Box (Summary,Drive-in) Code Start
--------------------------------*/
.box{width:100%;margin:0 auto;padding:20px;border:1px solid #363636;background-clip:padding-box;text-align:center}
.button{font-size:1.3em;padding:10px 100px;color:#fff;border:1px solid #363636;text-decoration:none;cursor:pointer;transition:all 0.3s ease-out;background:#333}
.button:hover{background:#06D85F}
/* Box (Summary,Drive-in) Code Ends
--------------------------------*/

/* Overlay Pop-Up (Summary,Drive-in) Code Start
--------------------------------*/
.overlay{position:fixed;top:0;left:0;width:100%;background:rgba(0, 0, 0, 0.9);transition:opacity 500ms;visibility:hidden;opacity:0;z-index:-1;height:100%}
.overlay:target, .overlay.showTime{visibility:visible;opacity:1;z-index:999999}
.overlay.showTime{overflow:auto}
.customPopup{color:#fff;width:70%;/*transition:all 5s ease-in-out;*/background-color:#202020;opacity:1;border:2px solid #363636;height:80vh;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}
.customPopup h3{color:#fff;margin-bottom:0;font-weight:600;line-height:inherit}
#popup1 .customPopup h3{background:#4d4d4d;padding:1px 12px}
.customPopup .close{position:absolute;top:-2px;right:10px;transition:all 200ms;font-size:40px;font-weight:400;text-decoration:none;color:#fff;opacity:100}
.customPopup .close:hover{color:#fff}
.box a:hover{background-color:#fff;color:#202020 !important}
.box a{display:block;padding:10px}
.box a:nth-child(2){margin-top:20px}
.customPopup .content ul li{list-style:none;line-height:inherit}
.customPopup .content ul li i{padding-right:10px}
.customPopup .content hr{margin-bottom:0;border-color:#4d4d4d;margin-top:0}
.customPopup h1.popup-hed{font-size:28px;float:none;margin-top:0;margin-bottom:0;padding:10px 15px}
.drive-in{position:relative;overflow:hidden}
.drive-in img{width:100%}
.drive-in img~img{position:absolute;left:0;top:0;right:0;bottom:0}
.drive-in h3{text-align:center;margin-top:10px}
select#dealer-ship{color:#C0C0C0;padding:10px;width:100%;background-color:#000;border:1px solid #fff}
select#dealer-ship option{color:#fff}
.drive-in p{margin:0}
.contact-form input[type="text"]{color:#fff;padding:4px 10px;width:100%;background-color:#000;border:1px solid #595959;margin-bottom:0;height:34px}
.drive-in p{padding:0;margin-bottom:5px}
.no_pad{padding:0 !important}
/* Overlay Pop-Up (Summary,Drive-in) Code Ends
--------------------------------*/

/* Drive-in Contact-Form Code Start
--------------------------------*/
.contact-form p{padding:0;margin:0;line-height:18px;margin-top:8px}
.contact-form a{background-color:#fff;padding:10px;text-align:center;display:block;margin-top:20px;color:#000}
.contact-form a:hover{background-color:#606060;color:#fff;/*border:1px solid #363636;*/}
.checkbox-box{padding:20px 0px}
/* Drive-in Contact-Form Code Ends
--------------------------------*/

/* Summary Code Start
--------------------------------*/
.price-tag{color:#555;font-size:10px !important;display:inline-block !important;margin:5px 0 0 0}
.summary-price{float:right;margin:0 !important;font-size:22px !important}
.top-heading .summary-item{font-size:15px !important;width:65%;display:table;margin-top:0}
/* Summary Code Ends
--------------------------------*/

/* Checkmark (Tool Box) Code Start
--------------------------------*/
.custom_radio, .custom_checkbox{position:absolute;opacity:0;cursor:pointer}
.checkmark{position:absolute;top:-22px;left:0;height:20px;width:20px;background-color:#eee;border-radius:50%}
.custom_checkbox + .checkmark{border:1px solid #eee}
.label_container:hover input~.checkmark{background-color:#ccc}
.label_container>input:checked~.checkmark{background-color:#202020}
.checkmark:after{content:"";position:absolute;display:none}
.label_container>input:checked~.checkmark:after{display:block}
.label_container .checkmark:after{top:5px;left:5px;width:10px;height:10px;border-radius:50%;background:#fff}
.label_container{position:relative;padding-left:35px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.label_container span{margin:21px 0 !important}
.label_container .custom_checkbox + .checkmark{border-radius:0}
.label_container .custom_checkbox:checked + .checkmark:after{content:"\2713";background:transparent;color:#fff;top:1px;left:4px;font-size:14px}
/* Checkmark (Tool Box)  Code Ends --- New code imr
--------------------------------*/
 
a:focus, a:hover{outline:none;color:#fff}
.category-tab{padding-right:0}
.dataRow .label_container{line-height:18px;margin-bottom:8px}
.optBox .label_container{font-weight:400}
.optBox .label_container strong{font-weight:700}
.customPopup ul{padding:0 12px;border:1px solid #4d4d4d}
.popHead{position:absolute;top:0;left:0;width:100%;background:#333;z-index:1}
.customPopup .popContent{height:100%;overflow-y:auto;overflow-x:hidden;padding:40px 15px 0}
.fixedBody{overflow:hidden}
.customPopup .ex-SelctedOptions{padding-bottom:10px}
.ex-SelctedOptions li{margin:10px 0;position:relative;padding-left:20px}
.ex-SelctedOptions li:before{position:absolute;content:"\2713";font-size:14px;line-height:14px;color:#fff;left:0;top:50%;margin-top:-7px}
.ex-SelctedOptions li.no-options:before{content:"X";font-size:18px;line-height:12px;color:#d90a0a}
.imp_note p{color:#e3a405;line-height:16px;padding:0}
.imp_note .btn{width:auto;height:auto;background:#8a8a8a;color:#fff;text-transform:uppercase;font-size:16px;border-radius:0;min-width:100px;display:table;margin:20px auto}
#toolbox .imp_note .btn:hover{background:#E1E8EE;color:#333}
#submit{width:100%;height:auto;background:#8a8a8a;color:#fff;text-transform:uppercase;font-size:16px;border-radius:0;min-width:100px;display:table;margin:20px auto;border:1px solid
transparent;padding:6px 12px;}
#toolbox #submit:hover{background:#E1E8EE;color:#333}
.stylenote{margin-top:20px}
.stylenote p{font-size:18px;color:#fff;padding:0}
.inputsWrap{display:flex;justify-content:space-between}
.fieldsWrap .inputsWrap input{margin-top:20px;height:34px;color:#000;padding:4px 10px;font-size:16px;border:1px solid #dadada}
.fieldsWrap .inputsWrap .txtfld{width:26%}
.fieldsWrap .inputsWrap .emailfld{width:41%}
.fieldsWrap .inputsWrap .phfld{width:28%}
.MercedesCar_opts .label_container strong,
.MercedesCar_opts .label_container small{display:none}
.MercedesCar_pop .cfp .summary-price{position:relative}
.MercedesCar_pop .cfp .summary-price small,
.MercedesCar_pop .cfp .summary-price strong{display:none}
.MercedesCar_pop .cfp .summary-price:after{position:absolute;content:"Call for Pricing";font-size:16px;color:#fff;top:0;right:0;width:120px}
.lecense{position:relative}
.lecense input{opacity:0} 
.lecense input + label:after{cursor:pointer;position:absolute;content:"";left:70px;top:8px;width:16px;height:16px;border:1px solid #9b9b9b;background:#eee;color:#020202;font-size:12px;font-weight:800;line-height:15px}
.lecense input:checked + label:after{content:"\2713"}
.links_responsive{width:280px;transition:ease all .3s;padding:0;height:100%;position:fixed;z-index:12;left:-280px}
.links_responsive.toggle{left:0}
.links_responsive .closeMenu{position:absolute;width:34px;height:34px;background:#fff;right:0;opacity:1;top:5px;line-height:29px;font-size:28px;cursor:pointer;box-shadow:0px 0px 3px #4d4d4d}
.links_responsive.toggle .closeMenu{right:-34px;opacity:1}
.lecense.btn{display:none}
.customPopup .content ul li.addition_note, .tab-content .addition_note{line-height:16px;margin-bottom:15px;padding:0}
.customPopup .content ul li.addition_note:before{display:none}
.tab-content p.colorNote{padding:0;color:#353535;line-height:16px;margin-top:-6px}
.thanksMsg{background:#699133}
.thanksMsg p{margin:7px 15px;font-weight:bold;font-size:16px}
.thanksMsg i{margin-right:6px;font-size:20px;vertical-align:text-top}
.delevir_summary .customPopup{height:41px;width:370px; text-align:center}
.sideScroller{height:100%;overflow:auto;padding:0 4px} 
.list_style a{border:1px solid #444;padding:10px 20px}
.price-heading .btn-1{color:#ddd;background:transparent;font-size:2.6em;letter-spacing:0}
.price-heading .btn-1:hover{color:#fff}
.price-heading .customize_btn{margin-left:0}
.price-heading .customize-arrow{font-size:32px;margin-left:10px;vertical-align:middle;margin-top:-5px}
.optBox .label_container strong, .optBox .label_container small{display:none}
.top-heading .summary-price{display:none}
.panel-default .right-arrow i{transform:rotate(180deg);transition:ease all .3s}
.panel-default .collapsed .right-arrow i{transform:rotate(0)}
#ajxData{margin-top:5px}
.contact-form input.red_hilighted, .fieldsWrap input.red_hilighted {border-color:red;background:#FFCECE;color:#000;}
.validatMsg{text-align:right;margin-top:12px;}
.validatMsg p{color:#f79a9a;padding:0;}
#returnmessage{padding:0}
.mailForm textarea, .mailForm input{margin-top:15px;width:100%;color:#333}
.successMsg {background:#d7e8ca;color:#3c770f;padding:4px 10px;line-height:18px;border:1px solid#3c770f;border-radius:4px;margin-top:8px;}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    z-index: 99;
    text-align: center;
}
.loading img {
    width: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
}
.page-template-car-builder-page #main .fusion-row {
    max-width: 100%;
}
.page-template-car-builder-page #main {background-color:#202020;padding-left:0;padding-right:0;}
/* Responsive Starts
--------------------------------*/
@media (min-width:768px){
div.category-tab div.category-tab-content:not(.active){display:none}
}
@media only screen and (max-width:1110px){
header>.header_container{grid-gap:0}
.links{grid-gap:0 !important}
.logo_heading{font-size:15pt}
.wizard{padding:0 30px}
.priceCar{font-size:23pt}
}
@media only screen and (max-width:961px){
.header_container{display:block;text-align:center}
.logo_heading{margin:30px 0}
.links{ text-align:center !important;margin-bottom:30px}
.popup-head{text-align:center!important}
.model_det{display:flex;flex-flow:column-reverse}
.det_para{display:flex;flex-flow:column}
}
@media (max-width:800px){
.shopping-cart{width:100%;height:auto;overflow:hidden}
.item{height:auto;flex-wrap:wrap;justify-content:center}
.image img{width:50%}
.image,.quantity,.description{width:100%;text-align:center;margin:6px 0}
.buttons{margin-right:20px}
.stylenote p{font-size:16px;line-height:20px}
.stylenote{margin-top:12px}
}
@media (max-width:767px){
.stylenote{margin-bottom:30px;text-align:center}
.category-tab{padding:0}
.price-heading{background:#484848;padding:8px 15px;letter-spacing:.2em;margin:0 10px 10px}
ul.nav-wizard li a{padding:0 8px 0 16px !important}
ul.nav-wizard li{margin-right:20px}
.align{margin:15px 15px 20px}
.logoWrap{float:left}
.list-group-item{display:none !important}
.accordion{display:block;background-color:#202020;color:#fff;border:1px solid #eee;font-size:13pt;margin:5px 0px;width:100%}	
h2.category-hadding{font-size:15pt !important}
.top{display:block;float:right;position:relative;margin-top:27px}
.links{display:none !important}
.header_container{display:inline-block;width:100%;margin:0}
.hamburger{font-size:30px}
.padding:hover{border-bottom:1px solid #fff;transition:0.3s all 0s linear;text-decoration:none !important;color:#fff}
.list_style{padding:5px}
ul.nav-wizard li{margin-right:12px}
ul.nav-wizard li a{ padding:0 2px 0 10px !important}
.links_responsive{background-color:#2d2d2d;box-shadow:0 0 10px #000}
.links_responsive ul{padding:15px}
.links_responsive .list_style{text-align:left;border-bottom:1px solid #4a4a4a;padding:0}
.links_responsive .list_style a{font-size:16px;display:block;border:0}
.links_responsive .list_style a:hover{text-decoration:none;background:#535353}
h3.contant-hed{margin-top:0}
.customPopup{width:90%;max-width:600px}
#popup1 .popContent > div{display:flex;flex-flow:row wrap}
#popup1 .popContent > div > div:nth-child(1){order:2}
#popup1 .popContent > div > div:nth-child(2){order:1}
.customPopup h1.popup-hed{font-size:22px}
.tool-bar{padding:0 15px !important}
.summary-price{font-size:16px !important}
.inputsWrap{display:inline-block}
.fieldsWrap .inputsWrap .txtfld, .fieldsWrap .inputsWrap .phfld, .fieldsWrap .inputsWrap .emailfld{width:100%}
.MercedesCar_pop .cfp .summary-price:after{font-size:11px;color:#c0ca00;width:auto;white-space:nowrap}
.customizer-container{padding-bottom:2px}
#toolbox{height:auto !important}
.top-heading h1{margin-top:0}
.price-heading .btn-1{font-size:2em} 
.left-sidebar {width:100%;}
.right-sidebar {float:left;}
.fusion-footer-widget-area {padding-top:40px;padding-bottom:0}
.fusion-footer hr {height:2px;margin-top:0px;}
}
@media (max-width:639px){
.top-heading > div{width:100%;margin:3px 0;text-align:left}
.top-heading > div .btn{display:block;text-align:left}
.top-heading .btn.submit{text-align:center}
.lecense input{ margin-right:12px}
.lecense input + label:after{left:13px}
}
@media only screen and (max-width:615px){
.padding{padding:5px;font-size:12pt}	
}
@media only screen and (max-width:535px){ 
.logo_heading{margin:30px 0 20px 0}
.li_responsive{margin:10px 0}
.stylenote{ display:none}
}
@media only screen and (max-width:479px){
.accordion{padding:10px 15px}
.customize_btn {padding: 5px 0}
.wizard{padding:0 20px}
#body-color .bodyColor .colorBox, #body-color .bodyColor2 .colorBox, #body-color .bodyColor3 .colorBox, #body-color .bodyColor5 .colorBox, #body-color .bodyColor6 .colorBox, #body-color .bodyColor9 .colorBox, #body-color .bodyColor10 .colorBox,
#body-color .bodyColor i, #body-color .bodyColor2 i, #body-color .bodyColor3 i, #body-color .bodyColor5 i, #body-color .bodyColor6 i, #body-color .bodyColor9 i, #body-color .bodyColor10 i{width:40px;height:40px;margin-right:8px}
.customPopup h1.popup-hed{font-size:20px}
}
@media only screen and (max-width:375px){
.accordion{font-size:11pt}
h2.category-hadding{font-size:13pt !important}
.logo_heading{font-size:13pt} 
ul.nav-wizard li a{font-size:11pt !important}
.li_style{margin:0 0 10px 17px}
}
@media only screen and (max-width:320px){
h2.category-hadding{font-size:10pt !important}
.accordion{font-size:10pt}
.logo_heading{font-size:11pt}  
.li_style{margin:0 0 10px 10px}
}
/* Responsive Ends
--------------------------------*/