.fusion-rollover-categories {
    display: none;
}

.fusion-image-wrapper .fusion-rollover {
    background: rgba(255,255,255, 0.7) !important;
}

.fusion-header {
    background: #202020 !important;
    border-bottom: solid 1px #fff;
}

#comment-submit {
    background: #333333 !important;
}

#comment-submit:hover {
    background: #202020 !important;
}

.single-navigation a[rel=prev] {
    float: left;
    margin-left: 1rem;
}

/* .single-navigation a:hover, .single-navigation a:hover:after, .single-navigation a:hover:before {
    color: #000 !important;
} */

.to-top-container #toTop:hover {
    border: solid 1px #333;
    border-bottom-color: #fff;
    background: #fff;
}

.to-top-container #toTop:hover:before {
    color: #333;
}

.page-id-262 .fusion-imageframe img {
    width: 100%;
}

.page-id-262 rs-module rs-mask-wrap *:last-child {
    color: #fff;
}

.flex-col-reverse .fusion-row {
    display: flex;
    flex-direction: column-reverse;
}

body.home ._latest_work_home .fusion-post-content-wrapper, .page-id-264 .fusion-post-content-wrapper {
    display: none;
}

body.home ._latest_work_home h4.fusion-rollover-title a {
    color: #333 !important;
}

.fusion-mobile-menu-icons a {
    margin-top: 18px;
}

@media only screen and (min-width: 800px) {
    .flex-col-reverse .fusion-row {
        display: block;
    }
}

@media only screen and (min-width: 928px) {
    .fusion-header .fusion-logo {
        margin-top: 8px !important;
    }
}