.no-padding{padding:0px !important;}
.no-margin{margin:0px !important;}
.no-bottom-space{padding-bottom:0px !important;margin-bottom:0px !important;}
.no-top-space{padding-top:0px !important;margin-top:0px !important;}
.space5{display:block;height:5px !important;clear:both;}
.space7{height:7px !important;clear:both;}
.space10{height:10px !important;clear:both;}
.space12{height:12px !important;clear:both;}
.space15{height:15px !important;clear:both;}
.space20{height:20px !important;clear:both;}
.no-space{margin:0px !important;padding:0px !important;}
.no-text-shadow{text-shadow:none !important;}
.no-left-padding{padding-left:0 !important;}
.no-left-margin{margin-left:0 !important;}
.margin-bottom-10{margin-bottom:10px !important;}
.margin-top-10{margin-top:10px !important;}
.margin-top-50{margin-top:50px !important;}
.margin-bottom-15{margin-bottom:15px !important;}
.margin-bottom-20{margin-bottom:20px !important;}
.margin-bottom-30{margin-bottom:30px !important;}
.margin-bottom-40{margin-bottom:40px !important;}
.margin-top-20{margin-top:20px !important;}
.margin-bottom-25{margin-bottom:25px !important;}
.margin-right-10{margin-right:10px !important;}
.margin-right-20{margin-right:20px !important;}
.margin-left-10{margin-left:10px !important;}
.margin-left-0{margin-left:0 !important;}
.padding-left-0{padding-left:0 !important;}
.padding-bottom-40{padding-bottom:40px !important;}
.hide{display:none;}
.bold{font-weight:600 !important;}
.fix-margin{margin-left:0px !important}
.border{border:1px solid #ddd}
.inline{display:inline;}
.padding{padding:20px;}
hr{margin:20px 0;border:0;border-top:1px solid #E0DFDF;border-bottom:1px solid #FEFEFE;}
@-ms-viewport{width:auto !important;}
/*Global classes*/
.container{padding:0 10px;}
.min-hight{min-height:500px;}