@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/*
Main Style Start
----------------------------------------------*/
*{margin:0;padding:0;box-sizing:border-box}
*:focus{outline:none}
body{overflow-x:hidden;font-family:'Karla', sans-serif !important}
html,body{min-height:100%;background-color:#202020}
.center{width:1100px;margin:0 auto}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.pull-left{float:left}
.pull-right{float:right}
.inner_bg{background-color:#fff;padding:0 24px}
/*
Main Style Ends
----------------------------------------------*/

/*
Heading Style Start
----------------------------------------------*/
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1,.h1{font-size:36px}
h2,.h2{font-size:24px}
h3,.h3{font-size:18px}
h4,.h4{font-size:16px}
h5,.h5{font-size:14px}
/*
Heading Style Ends
----------------------------------------------*/

/*
Paragraph Style Start
----------------------------------------------*/
p{font-size:14px}
p a,a{text-decoration:none;color:#fff}
.bold{font-weight:bold;color:#950066;padding-top:16px;padding-bottom:16px;text-align:center}
.text{font-weight:bold;color:#950066}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus{outline:0;box-shadow:none;border-color:#ccc}
.form-control:focus{border-color:#ccc;outline:0;box-shadow:none}
.text-dark { color: #333333 !important; }
/*
Header Style Ends
----------------------------------------------*/
header .navbar{background:#d8c084;border:0;min-height:72px;border-radius:0}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{margin:0;padding:0}
.navbar-header .navbar-brand{padding:11px 15px}
#navbar .navbar-nav>li>a{line-height:42px;color:#fff;font-size:15px}
#navbar .navbar-nav>li.basket>a{padding-right:0}
#navbar .navbar-nav>li>a:hover,
#navbar .navbar-nav>li>a:active,
#navbar .navbar-nav>li>a:focus{color:#000}

.category-menu .navbar-nav{text-align:center;float:none;margin:0 auto}
.category-menu .navbar-collapse{padding:0}
.category-menu .navbar-nav>li{display:inline-block;float:none}
.category-menu .navbar-nav>li>a{padding:5px 10px;text-transform:uppercase;font-size:13px}
.category-menu .navbar-nav>li>a:hover{color:#000}

.top-bar{background-color:#eee;padding:5px}
.top-bar ul{list-style:none;margin-bottom:0;float:right}
.top-bar ul li{display:inline-block}
.top-bar ul li:first-child{margin-right:14px}
.top-bar ul li .fa-phone{transform:rotate(90deg)}
.top-bar ul li a:hover,
.top-bar ul li a:focus{color:#000;text-decoration:none}


/* Car-Image Detail Code Start
--------------------------------*/
.carBigbox{background:#fff;margin-bottom:30px;border-radius:3px}
.carBigbox h4.key-heading { visibility: hidden; }
.popup-head{margin:0 15px 0 15px;font-weight:bolder;text-transform:uppercase;font-size:20pt;padding-top:10px}
.detail_box{margin:15px 0}
.model_det{display:grid;grid-template-columns:35% auto;text-align:center;grid-gap:10px}
.btn-1{letter-spacing:.2em;font-size:1.3em;font-weight:bolder;color:#202020;background-color:#fff;text-transform:uppercase;text-decoration:none;cursor:pointer;transition:all 0.3s ease-out}
.customize_btn{margin-left:18px;padding:10px 0}
.key-heading{font-weight:bolder;font-size:18px;text-transform:uppercase;margin:0 0 0 12px}
.btn-1:hover{color:#363636;text-decoration:none}
.det_para{text-align:left}
.align{margin:15px 0px 20px 15px}
.li_style{margin:0px 0 10px 15px}
.price-heading{text-align:left;background:#202020;color:#fff;padding:15px;font-size:12px;text-transform:uppercase;letter-spacing:.3em}
.priceCar{font-size:30pt;font-weight:bolder;letter-spacing:normal}
.customize-arrow{font-size:16px}
.accordion{display:none;background-color:#fff;color:#202020;border:0;padding:15px 15px}
/* Car-Image Detail Code End
--------------------------------*/

/* Header Starts
--------------------------------*/
.header_container{display:grid;grid-template-columns:auto auto;grid-gap:30px;align-items:center;margin:24px 0}
.header_container .links{display:grid;grid-gap:10px;grid-template-columns:auto auto auto auto;text-align:right;list-style-type:none;margin-bottom:0}
.cart-size{font-size:20px; margin-left:10px}
.logo_heading{font-size:20pt;text-transform:uppercase;font-weight:lighter;letter-spacing:.2em;word-spacing:8px;margin:0}
.logo_heading:hover,.no-underline:hover{color:#C0C0C0;transition:0.4s all 0s linear;text-decoration:none !important}
.links>li>a:hover{background:#fff;color:#202020;transition:0.4s all 0s linear;text-decoration:none !important}
.top{display:none}
.list_style{list-style-type:none}
/* Header End
--------------------------------*/

/* Shopping Cart Starts
--------------------------------*/
.shopping-cart{width:750px;height:423px;margin:80px auto;background:#FFF;box-shadow:1px 2px 3px 0px rgba(0,0,0,0.10);border-radius:6px;display:flex;flex-direction:column}
.title{height:60px;border-bottom:1px solid #E1E8EE;padding:20px 30px;color:#5E6977;font-size:18px;font-weight:500} 
.item{padding:20px 30px;height:120px;display:flex} 
.item:nth-child(3){border-top: 1px solid #E1E8EE;border-bottom: 1px solid #E1E8EE}
.buttons{position:relative;padding-top:30px;margin-right:60px}
.delete-btn,.like-btn{display:inline-block;cursor:pointer}
.delete-btn{width:18px;height:17px;background:no-repeat center}
.like-btn{position:absolute;top:9px;left:23px;background-image:url("../../images/twitter-heart.png");width:60px;height:60px;background-size:2900%;background-repeat:no-repeat}
.is-active{animation-name:animate;animation-duration:.8s;animation-iteration-count:1;animation-timing-function:steps(28);animation-fill-mode:forwards} 
@keyframes animate{
  0%  {background-position:left}
  50% {background-position:right}
  100%{background-position:right}
}
.image{margin-right:50px}
.image > img{width:100px} 
.description{padding-top:10px;margin-right:60px;width:115px} 
.description span{display:block;font-size:14px;color:#43484D;font-weight:400} 
.description span:first-child{margin-bottom:5px}
.description span:last-child{font-weight:300;margin-top:8px;color:#86939E}
.quantity{padding-top:20px;margin-right:60px}
.quantity input{-webkit-appearance:none;border:none;text-align:center;width:32px;font-size:16px;color:#43484D;font-weight:300} 
button[class*=btn]{width:30px;height:30px;background-color:#E1E8EE;border-radius:6px;border:none;cursor:pointer}
.minus-btn img{margin-bottom:3px}
.plus-btn img{margin-top:2px} 
button:focus,input:focus{outline:0}
.total-price{width:83px;padding-top:27px;text-align:center;font-size:16px;color:#43484D;font-weight:300}
/* Shopping Cart Ends
--------------------------------*/

/* Footer Start
--------------------------------*/
.footer{border-top:1px solid #fff;margin-top:20px}
.footer_heading{font-size:9pt;text-transform:uppercase;letter-spacing:.3em;text-align:center;color:#fff;padding:20px 0}
/* Footer End
--------------------------------*/

